@charset "utf-8";

/* 模糊 */

.filter-blur-1 {
        filter: url(blur.svg#blur);
        -webkit-filter: blur(1px);
        -moz-filter: blur(1px);
        -ms-filter: blur(1px);
        filter: blur(1px);
}

.filter-blur-2 {
        filter: url(blur.svg#blur);
        -webkit-filter: blur(2px);
        -moz-filter: blur(2px);
        -ms-filter: blur(2px);
        filter: blur(2px);
}

.filter-blur-3 {
        filter: url(blur.svg#blur);
        -webkit-filter: blur(3px);
        -moz-filter: blur(3px);
        -ms-filter: blur(3px);
        filter: blur(3px);
}

.filter-blur-4 {
        filter: url(blur.svg#blur);
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
}

.filter-blur-5 {
        filter: url(blur.svg#blur);
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
}

.filter-blur-6 {
        filter: url(blur.svg#blur);
        -webkit-filter: blur(6px);
        -moz-filter: blur(6px);
        -ms-filter: blur(6px);
        filter: blur(6px);
}

.filter-blur-7 {
        filter: url(blur.svg#blur);
        -webkit-filter: blur(7px);
        -moz-filter: blur(7px);
        -ms-filter: blur(7px);
        filter: blur(7px);
}

.filter-blur-8 {
        filter: url(blur.svg#blur);
        -webkit-filter: blur(8px);
        -moz-filter: blur(8px);
        -ms-filter: blur(8px);
        filter: blur(8px);
}

.filter-blur-9 {
        filter: url(blur.svg#blur);
        -webkit-filter: blur(9px);
        -moz-filter: blur(9px);
        -ms-filter: blur(9px);
        filter: blur(9px);
}

.filter-blur-10 {
        filter: url(blur.svg#blur);
        -webkit-filter: blur(10px);
        -moz-filter: blur(10px);
        -ms-filter: blur(10px);
        filter: blur(10px);
}


/* 灰度 */

.filter-gray-1 {
        -webkit-filter: grayscale(0.1);
        -moz-filter: grayscale(0.1);
        -ms-filter: grayscale(0.1);
        filter: grayscale(0.1);
}

.filter-gray-2 {
        -webkit-filter: grayscale(0.2);
        -moz-filter: grayscale(0.2);
        -ms-filter: grayscale(0.2);
        filter: grayscale(0.2);
}

.filter-gray-3 {
        -webkit-filter: grayscale(0.3);
        -moz-filter: grayscale(0.3);
        -ms-filter: grayscale(0.3);
        filter: grayscale(0.3);
}

.filter-gray-4 {
        -webkit-filter: grayscale(0.4);
        -moz-filter: grayscale(0.4);
        -ms-filter: grayscale(0.4);
        filter: grayscale(0.4);
}

.filter-gray-5 {
        -webkit-filter: grayscale(0.5);
        -moz-filter: grayscale(0.5);
        -ms-filter: grayscale(0.5);
        filter: grayscale(0.5);
}

.filter-gray-6 {
        -webkit-filter: grayscale(0.6);
        -moz-filter: grayscale(0.6);
        -ms-filter: grayscale(0.6);
        filter: grayscale(0.6);
}

.filter-gray-7 {
        -webkit-filter: grayscale(0.7);
        -moz-filter: grayscale(0.7);
        -ms-filter: grayscale(0.7);
        filter: grayscale(0.7);
}

.filter-gray-8 {
        -webkit-filter: grayscale(0.8);
        -moz-filter: grayscale(0.8);
        -ms-filter: grayscale(0.8);
        filter: grayscale(0.8);
}

.filter-gray-9 {
        -webkit-filter: grayscale(0.9);
        -moz-filter: grayscale(0.9);
        -ms-filter: grayscale(0.9);
        filter: grayscale(0.9);
}

.filter-gray-10 {
        -webkit-filter: grayscale(1.0);
        -moz-filter: grayscale(1.0);
        -ms-filter: grayscale(1.0);
        filter: grayscale(1.0);
}


/* 反色 */

.filter-invert-1 {
        -webkit-filter: invert(0.1);
        -moz-filter: invert(0.1);
        -ms-filter: invert(0.1);
        filter: invert(0.1);
}

.filter-invert-2 {
        -webkit-filter: invert(0.2);
        -moz-filter: invert(0.2);
        -ms-filter: invert(0.2);
        filter: invert(0.2);
}

.filter-invert-3 {
        -webkit-filter: invert(0.3);
        -moz-filter: invert(0.3);
        -ms-filter: invert(0.3);
        filter: invert(0.3);
}

.filter-invert-4 {
        -webkit-filter: invert(0.4);
        -moz-filter: invert(0.4);
        -ms-filter: invert(0.4);
        filter: invert(0.4);
}

.filter-invert-5 {
        -webkit-filter: invert(0.5);
        -moz-filter: invert(0.5);
        -ms-filter: invert(0.5);
        filter: invert(0.5);
}

.filter-invert-6 {
        -webkit-filter: invert(0.6);
        -moz-filter: invert(0.6);
        -ms-filter: invert(0.6);
        filter: invert(0.6);
}

.filter-invert-7 {
        -webkit-filter: invert(0.7);
        -moz-filter: invert(0.7);
        -ms-filter: invert(0.7);
        filter: invert(0.7);
}

.filter-invert-8 {
        -webkit-filter: invert(0.8);
        -moz-filter: invert(0.8);
        -ms-filter: invert(0.8);
        filter: invert(0.8);
}

.filter-invert-9 {
        -webkit-filter: invert(0.9);
        -moz-filter: invert(0.9);
        -ms-filter: invert(0.9);
        filter: invert(0.9);
}

.filter-invert-10 {
        -webkit-filter: invert(1.0);
        -moz-filter: invert(1.0);
        -ms-filter: invert(1.0);
        filter: invert(1.0);
}


/* 亮度 */

.filter-brightness-1 {
        -webkit-filter: brightness(0.1);
        -moz-filter: brightness(0.1);
        -ms-filter: brightness(0.1);
        filter: brightness(0.1);
}

.filter-brightness-2 {
        -webkit-filter: brightness(0.2);
        -moz-filter: brightness(0.2);
        -ms-filter: brightness(0.2);
        filter: brightness(0.2);
}

.filter-brightness-3 {
        -webkit-filter: brightness(0.3);
        -moz-filter: brightness(0.3);
        -ms-filter: brightness(0.3);
        filter: brightness(0.3);
}

.filter-brightness-4 {
        -webkit-filter: brightness(0.4);
        -moz-filter: brightness(0.4);
        -ms-filter: brightness(0.4);
        filter: brightness(0.4);
}

.filter-brightness-5 {
        -webkit-filter: brightness(0.5);
        -moz-filter: brightness(0.5);
        -ms-filter: brightness(0.5);
        filter: brightness(0.5);
}

.filter-brightness-6 {
        -webkit-filter: brightness(0.6);
        -moz-filter: brightness(0.6);
        -ms-filter: brightness(0.6);
        filter: brightness(0.6);
}

.filter-brightness-7 {
        -webkit-filter: brightness(0.7);
        -moz-filter: brightness(0.7);
        -ms-filter: brightness(0.7);
        filter: brightness(0.7);
}

.filter-brightness-8 {
        -webkit-filter: brightness(0.8);
        -moz-filter: brightness(0.8);
        -ms-filter: brightness(0.8);
        filter: brightness(0.8);
}

.filter-brightness-9 {
        -webkit-filter: brightness(0.9);
        -moz-filter: brightness(0.9);
        -ms-filter: brightness(0.9);
        filter: brightness(0.9);
}

.filter-brightness-10 {
        -webkit-filter: brightness(1.0);
        -moz-filter: brightness(1.0);
        -ms-filter: brightness(1.0);
        filter: brightness(1.0);
}

.filter-brightness-11 {
        -webkit-filter: brightness(1.1);
        -moz-filter: brightness(1.1);
        -ms-filter: brightness(1.1);
        filter: brightness(1.1);
}

.filter-brightness-12 {
        -webkit-filter: brightness(1.2);
        -moz-filter: brightness(1.2);
        -ms-filter: brightness(1.2);
        filter: brightness(1.2);
}

.filter-brightness-13 {
        -webkit-filter: brightness(1.3);
        -moz-filter: brightness(1.3);
        -ms-filter: brightness(1.3);
        filter: brightness(1.3);
}

.filter-brightness-14 {
        -webkit-filter: brightness(1.4);
        -moz-filter: brightness(1.4);
        -ms-filter: brightness(1.4);
        filter: brightness(1.4);
}

.filter-brightness-15 {
        -webkit-filter: brightness(1.5);
        -moz-filter: brightness(1.5);
        -ms-filter: brightness(1.5);
        filter: brightness(1.5);
}

.filter-brightness-16 {
        -webkit-filter: brightness(1.6);
        -moz-filter: brightness(1.6);
        -ms-filter: brightness(1.6);
        filter: brightness(1.6);
}

.filter-brightness-17 {
        -webkit-filter: brightness(1.7);
        -moz-filter: brightness(1.7);
        -ms-filter: brightness(1.7);
        filter: brightness(1.7);
}

.filter-brightness-18 {
        -webkit-filter: brightness(1.8);
        -moz-filter: brightness(1.8);
        -ms-filter: brightness(1.8);
        filter: brightness(1.8);
}

.filter-brightness-19 {
        -webkit-filter: brightness(1.9);
        -moz-filter: brightness(1.9);
        -ms-filter: brightness(1.9);
        filter: brightness(1.9);
}

.filter-brightness-20 {
        -webkit-filter: brightness(2.0);
        -moz-filter: brightness(2.0);
        -ms-filter: brightness(2.0);
        filter: brightness(2.0);
}

.filter-brightness-21 {
        -webkit-filter: brightness(2.1);
        -moz-filter: brightness(2.1);
        -ms-filter: brightness(2.1);
        filter: brightness(2.1);
}

.filter-brightness-22 {
        -webkit-filter: brightness(2.2);
        -moz-filter: brightness(2.2);
        -ms-filter: brightness(2.2);
        filter: brightness(2.2);
}

.filter-brightness-23 {
        -webkit-filter: brightness(2.3);
        -moz-filter: brightness(2.3);
        -ms-filter: brightness(2.3);
        filter: brightness(2.3);
}

.filter-brightness-24 {
        -webkit-filter: brightness(2.4);
        -moz-filter: brightness(2.4);
        -ms-filter: brightness(2.4);
        filter: brightness(2.4);
}

.filter-brightness-25 {
        -webkit-filter: brightness(2.5);
        -moz-filter: brightness(2.5);
        -ms-filter: brightness(2.5);
        filter: brightness(2.5);
}

.filter-brightness-26 {
        -webkit-filter: brightness(2.6);
        -moz-filter: brightness(2.6);
        -ms-filter: brightness(2.6);
        filter: brightness(2.6);
}

.filter-brightness-27 {
        -webkit-filter: brightness(2.7);
        -moz-filter: brightness(2.7);
        -ms-filter: brightness(2.7);
        filter: brightness(2.7);
}

.filter-brightness-28 {
        -webkit-filter: brightness(2.8);
        -moz-filter: brightness(2.8);
        -ms-filter: brightness(2.8);
        filter: brightness(2.8);
}

.filter-brightness-29 {
        -webkit-filter: brightness(2.9);
        -moz-filter: brightness(2.9);
        -ms-filter: brightness(2.9);
        filter: brightness(2.9);
}

.filter-brightness-30 {
        -webkit-filter: brightness(3.0);
        -moz-filter: brightness(3.0);
        -ms-filter: brightness(3.0);
        filter: brightness(3.0);
}

.filter-brightness-40 {
        -webkit-filter: brightness(4.0);
        -moz-filter: brightness(4.0);
        -ms-filter: brightness(4.0);
        filter: brightness(4.0);
}

.filter-brightness-50 {
        -webkit-filter: brightness(5.0);
        -moz-filter: brightness(5.0);
        -ms-filter: brightness(5.0);
        filter: brightness(5.0);
}

.filter-brightness-60 {
        -webkit-filter: brightness(6.0);
        -moz-filter: brightness(6.0);
        -ms-filter: brightness(6.0);
        filter: brightness(6.0);
}

.filter-brightness-70 {
        -webkit-filter: brightness(7.0);
        -moz-filter: brightness(7.0);
        -ms-filter: brightness(7.0);
        filter: brightness(7.0);
}

.filter-brightness-80 {
        -webkit-filter: brightness(8.0);
        -moz-filter: brightness(8.0);
        -ms-filter: brightness(8.0);
        filter: brightness(8.0);
}

.filter-brightness-90 {
        -webkit-filter: brightness(9.0);
        -moz-filter: brightness(9.0);
        -ms-filter: brightness(9.0);
        filter: brightness(9.0);
}


/* 褐色 */

.filter-sepia-1 {
        -webkit-filter: sepia(0.1);
        -moz-filter: sepia(0.1);
        -ms-filter: sepia(0.1);
        filter: sepia(0.1);
}

.filter-sepia-2 {
        -webkit-filter: sepia(0.2);
        -moz-filter: sepia(0.2);
        -ms-filter: sepia(0.2);
        filter: sepia(0.2);
}

.filter-sepia-3 {
        -webkit-filter: sepia(0.3);
        -moz-filter: sepia(0.3);
        -ms-filter: sepia(0.3);
        filter: sepia(0.3);
}

.filter-sepia-4 {
        -webkit-filter: sepia(0.4);
        -moz-filter: sepia(0.4);
        -ms-filter: sepia(0.4);
        filter: sepia(0.4);
}

.filter-sepia-5 {
        -webkit-filter: sepia(0.5);
        -moz-filter: sepia(0.5);
        -ms-filter: sepia(0.5);
        filter: sepia(0.5);
}

.filter-sepia-6 {
        -webkit-filter: sepia(0.6);
        -moz-filter: sepia(0.6);
        -ms-filter: sepia(0.6);
        filter: sepia(0.6);
}

.filter-sepia-7 {
        -webkit-filter: sepia(0.7);
        -moz-filter: sepia(0.7);
        -ms-filter: sepia(0.7);
        filter: sepia(0.7);
}

.filter-sepia-8 {
        -webkit-filter: sepia(0.8);
        -moz-filter: sepia(0.8);
        -ms-filter: sepia(0.8);
        filter: sepia(0.8);
}

.filter-sepia-9 {
        -webkit-filter: sepia(0.9);
        -moz-filter: sepia(0.9);
        -ms-filter: sepia(0.9);
        filter: sepia(0.9);
}

.filter-sepia-10 {
        -webkit-filter: sepia(1.0);
        -moz-filter: sepia(1.0);
        -ms-filter: sepia(1.0);
        filter: sepia(1.0);
}


/* 饱和度 */

.filter-saturate-1 {
        -webkit-filter: saturate(0.1);
        -moz-filter: saturate(0.1);
        -ms-filter: saturate(0.1);
        filter: saturate(0.1);
}

.filter-saturate-2 {
        -webkit-filter: saturate(0.2);
        -moz-filter: saturate(0.2);
        -ms-filter: saturate(0.2);
        filter: saturate(0.2);
}

.filter-saturate-3 {
        -webkit-filter: saturate(0.3);
        -moz-filter: saturate(0.3);
        -ms-filter: saturate(0.3);
        filter: saturate(0.3);
}

.filter-saturate-4 {
        -webkit-filter: saturate(0.4);
        -moz-filter: saturate(0.4);
        -ms-filter: saturate(0.4);
        filter: saturate(0.4);
}

.filter-saturate-5 {
        -webkit-filter: saturate(0.5);
        -moz-filter: saturate(0.5);
        -ms-filter: saturate(0.5);
        filter: saturate(0.5);
}

.filter-saturate-6 {
        -webkit-filter: saturate(0.6);
        -moz-filter: saturate(0.6);
        -ms-filter: saturate(0.6);
        filter: saturate(0.6);
}

.filter-saturate-7 {
        -webkit-filter: saturate(0.7);
        -moz-filter: saturate(0.7);
        -ms-filter: saturate(0.7);
        filter: saturate(0.7);
}

.filter-saturate-8 {
        -webkit-filter: saturate(0.8);
        -moz-filter: saturate(0.8);
        -ms-filter: saturate(0.8);
        filter: saturate(0.8);
}

.filter-saturate-9 {
        -webkit-filter: saturate(0.9);
        -moz-filter: saturate(0.9);
        -ms-filter: saturate(0.9);
        filter: saturate(0.9);
}

.filter-saturate-10 {
        -webkit-filter: saturate(1.0);
        -moz-filter: saturate(1.0);
        -ms-filter: saturate(1.0);
        filter: saturate(1.0);
}

.filter-saturate-11 {
        -webkit-filter: saturate(1.1);
        -moz-filter: saturate(1.1);
        -ms-filter: saturate(1.1);
        filter: saturate(1.1);
}

.filter-saturate-12 {
        -webkit-filter: saturate(1.2);
        -moz-filter: saturate(1.2);
        -ms-filter: saturate(1.2);
        filter: saturate(1.2);
}

.filter-saturate-13 {
        -webkit-filter: saturate(1.3);
        -moz-filter: saturate(1.3);
        -ms-filter: saturate(1.3);
        filter: saturate(1.3);
}

.filter-saturate-14 {
        -webkit-filter: saturate(1.4);
        -moz-filter: saturate(1.4);
        -ms-filter: saturate(1.4);
        filter: saturate(1.4);
}

.filter-saturate-15 {
        -webkit-filter: saturate(1.5);
        -moz-filter: saturate(1.5);
        -ms-filter: saturate(1.5);
        filter: saturate(1.5);
}

.filter-saturate-16 {
        -webkit-filter: saturate(1.6);
        -moz-filter: saturate(1.6);
        -ms-filter: saturate(1.6);
        filter: saturate(1.6);
}

.filter-saturate-17 {
        -webkit-filter: saturate(1.7);
        -moz-filter: saturate(1.7);
        -ms-filter: saturate(1.7);
        filter: saturate(1.7);
}

.filter-saturate-18 {
        -webkit-filter: saturate(1.8);
        -moz-filter: saturate(1.8);
        -ms-filter: saturate(1.8);
        filter: saturate(1.8);
}

.filter-saturate-19 {
        -webkit-filter: saturate(1.9);
        -moz-filter: saturate(1.9);
        -ms-filter: saturate(1.9);
        filter: saturate(1.9);
}

.filter-saturate-20 {
        -webkit-filter: saturate(2.0);
        -moz-filter: saturate(2.0);
        -ms-filter: saturate(2.0);
        filter: saturate(2.0);
}

.filter-saturate-21 {
        -webkit-filter: saturate(2.1);
        -moz-filter: saturate(2.1);
        -ms-filter: saturate(2.1);
        filter: saturate(2.1);
}

.filter-saturate-22 {
        -webkit-filter: saturate(2.2);
        -moz-filter: saturate(2.2);
        -ms-filter: saturate(2.2);
        filter: saturate(2.2);
}

.filter-saturate-23 {
        -webkit-filter: saturate(2.3);
        -moz-filter: saturate(2.3);
        -ms-filter: saturate(2.3);
        filter: saturate(2.3);
}

.filter-saturate-24 {
        -webkit-filter: saturate(2.4);
        -moz-filter: saturate(2.4);
        -ms-filter: saturate(2.4);
        filter: saturate(2.4);
}

.filter-saturate-25 {
        -webkit-filter: saturate(2.5);
        -moz-filter: saturate(2.5);
        -ms-filter: saturate(2.5);
        filter: saturate(2.5);
}

.filter-saturate-26 {
        -webkit-filter: saturate(2.6);
        -moz-filter: saturate(2.6);
        -ms-filter: saturate(2.6);
        filter: saturate(2.6);
}

.filter-saturate-27 {
        -webkit-filter: saturate(2.7);
        -moz-filter: saturate(2.7);
        -ms-filter: saturate(2.7);
        filter: saturate(2.7);
}

.filter-saturate-28 {
        -webkit-filter: saturate(2.8);
        -moz-filter: saturate(2.8);
        -ms-filter: saturate(2.8);
        filter: saturate(2.8);
}

.filter-saturate-29 {
        -webkit-filter: saturate(2.9);
        -moz-filter: saturate(2.9);
        -ms-filter: saturate(2.9);
        filter: saturate(2.9);
}

.filter-saturate-30 {
        -webkit-filter: saturate(3.0);
        -moz-filter: saturate(3.0);
        -ms-filter: saturate(3.0);
        filter: saturate(3.0);
}

.filter-saturate-40 {
        -webkit-filter: saturate(4.0);
        -moz-filter: saturate(4.0);
        -ms-filter: saturate(4.0);
        filter: saturate(4.0);
}

.filter-saturate-50 {
        -webkit-filter: saturate(5.0);
        -moz-filter: saturate(5.0);
        -ms-filter: saturate(5.0);
        filter: saturate(5.0);
}

.filter-saturate-60 {
        -webkit-filter: saturate(6.0);
        -moz-filter: saturate(6.0);
        -ms-filter: saturate(6.0);
        filter: saturate(6.0);
}

.filter-saturate-70 {
        -webkit-filter: saturate(7.0);
        -moz-filter: saturate(7.0);
        -ms-filter: saturate(7.0);
        filter: saturate(7.0);
}

.filter-saturate-80 {
        -webkit-filter: saturate(8.0);
        -moz-filter: saturate(8.0);
        -ms-filter: saturate(8.0);
        filter: saturate(8.0);
}

.filter-saturate-90 {
        -webkit-filter: saturate(9.0);
        -moz-filter: saturate(9.0);
        -ms-filter: saturate(9.0);
        filter: saturate(9.0);
}


/* 色相旋转 */

.filter-hue-rotate-10 {
        -webkit-filter: hue-rotate(10deg);
        -moz-filter: hue-rotate(10deg);
        -ms-filter: hue-rotate(10deg);
        filter: hue-rotate(10deg);
}

.filter-hue-rotate-20 {
        -webkit-filter: hue-rotate(20deg);
        -moz-filter: hue-rotate(20deg);
        -ms-filter: hue-rotate(20deg);
        filter: hue-rotate(20deg);
}

.filter-hue-rotate-30 {
        -webkit-filter: hue-rotate(30deg);
        -moz-filter: hue-rotate(30deg);
        -ms-filter: hue-rotate(30deg);
        filter: hue-rotate(30deg);
}

.filter-hue-rotate-40 {
        -webkit-filter: hue-rotate(40deg);
        -moz-filter: hue-rotate(40deg);
        -ms-filter: hue-rotate(40deg);
        filter: hue-rotate(40deg);
}

.filter-hue-rotate-50 {
        -webkit-filter: hue-rotate(50deg);
        -moz-filter: hue-rotate(50deg);
        -ms-filter: hue-rotate(50deg);
        filter: hue-rotate(50deg);
}

.filter-hue-rotate-60 {
        -webkit-filter: hue-rotate(60deg);
        -moz-filter: hue-rotate(60deg);
        -ms-filter: hue-rotate(60deg);
        filter: hue-rotate(60deg);
}

.filter-hue-rotate-70 {
        -webkit-filter: hue-rotate(70deg);
        -moz-filter: hue-rotate(70deg);
        -ms-filter: hue-rotate(70deg);
        filter: hue-rotate(70deg);
}

.filter-hue-rotate-80 {
        -webkit-filter: hue-rotate(80deg);
        -moz-filter: hue-rotate(80deg);
        -ms-filter: hue-rotate(80deg);
        filter: hue-rotate(80deg);
}

.filter-hue-rotate-90 {
        -webkit-filter: hue-rotate(90deg);
        -moz-filter: hue-rotate(90deg);
        -ms-filter: hue-rotate(90deg);
        filter: hue-rotate(90deg);
}

.filter-hue-rotate-100 {
        -webkit-filter: hue-rotate(100deg);
        -moz-filter: hue-rotate(100deg);
        -ms-filter: hue-rotate(100deg);
        filter: hue-rotate(100deg);
}

.filter-hue-rotate-110 {
        -webkit-filter: hue-rotate(110deg);
        -moz-filter: hue-rotate(110deg);
        -ms-filter: hue-rotate(110deg);
        filter: hue-rotate(110deg);
}

.filter-hue-rotate-120 {
        -webkit-filter: hue-rotate(120deg);
        -moz-filter: hue-rotate(120deg);
        -ms-filter: hue-rotate(120deg);
        filter: hue-rotate(120deg);
}

.filter-hue-rotate-130 {
        -webkit-filter: hue-rotate(130deg);
        -moz-filter: hue-rotate(130deg);
        -ms-filter: hue-rotate(130deg);
        filter: hue-rotate(130deg);
}

.filter-hue-rotate-140 {
        -webkit-filter: hue-rotate(140deg);
        -moz-filter: hue-rotate(140deg);
        -ms-filter: hue-rotate(140deg);
        filter: hue-rotate(140deg);
}

.filter-hue-rotate-150 {
        -webkit-filter: hue-rotate(150deg);
        -moz-filter: hue-rotate(150deg);
        -ms-filter: hue-rotate(150deg);
        filter: hue-rotate(150deg);
}

.filter-hue-rotate-160 {
        -webkit-filter: hue-rotate(160deg);
        -moz-filter: hue-rotate(160deg);
        -ms-filter: hue-rotate(160deg);
        filter: hue-rotate(160deg);
}

.filter-hue-rotate-170 {
        -webkit-filter: hue-rotate(170deg);
        -moz-filter: hue-rotate(170deg);
        -ms-filter: hue-rotate(170deg);
        filter: hue-rotate(170deg);
}

.filter-hue-rotate-180 {
        -webkit-filter: hue-rotate(180deg);
        -moz-filter: hue-rotate(180deg);
        -ms-filter: hue-rotate(180deg);
        filter: hue-rotate(180deg);
}

.filter-hue-rotate-190 {
        -webkit-filter: hue-rotate(190deg);
        -moz-filter: hue-rotate(190deg);
        -ms-filter: hue-rotate(190deg);
        filter: hue-rotate(190deg);
}

.filter-hue-rotate-200 {
        -webkit-filter: hue-rotate(200deg);
        -moz-filter: hue-rotate(200deg);
        -ms-filter: hue-rotate(200deg);
        filter: hue-rotate(200deg);
}

.filter-hue-rotate-210 {
        -webkit-filter: hue-rotate(210deg);
        -moz-filter: hue-rotate(210deg);
        -ms-filter: hue-rotate(210deg);
        filter: hue-rotate(210deg);
}

.filter-hue-rotate-220 {
        -webkit-filter: hue-rotate(220deg);
        -moz-filter: hue-rotate(220deg);
        -ms-filter: hue-rotate(220deg);
        filter: hue-rotate(220deg);
}

.filter-hue-rotate-230 {
        -webkit-filter: hue-rotate(230deg);
        -moz-filter: hue-rotate(230deg);
        -ms-filter: hue-rotate(230deg);
        filter: hue-rotate(230deg);
}

.filter-hue-rotate-240 {
        -webkit-filter: hue-rotate(240deg);
        -moz-filter: hue-rotate(240deg);
        -ms-filter: hue-rotate(240deg);
        filter: hue-rotate(240deg);
}

.filter-hue-rotate-250 {
        -webkit-filter: hue-rotate(250deg);
        -moz-filter: hue-rotate(250deg);
        -ms-filter: hue-rotate(250deg);
        filter: hue-rotate(250deg);
}

.filter-hue-rotate-260 {
        -webkit-filter: hue-rotate(260deg);
        -moz-filter: hue-rotate(260deg);
        -ms-filter: hue-rotate(260deg);
        filter: hue-rotate(260deg);
}

.filter-hue-rotate-270 {
        -webkit-filter: hue-rotate(270deg);
        -moz-filter: hue-rotate(270deg);
        -ms-filter: hue-rotate(270deg);
        filter: hue-rotate(270deg);
}

.filter-hue-rotate-280 {
        -webkit-filter: hue-rotate(280deg);
        -moz-filter: hue-rotate(280deg);
        -ms-filter: hue-rotate(280deg);
        filter: hue-rotate(280deg);
}

.filter-hue-rotate-290 {
        -webkit-filter: hue-rotate(290deg);
        -moz-filter: hue-rotate(290deg);
        -ms-filter: hue-rotate(290deg);
        filter: hue-rotate(290deg);
}

.filter-hue-rotate-300 {
        -webkit-filter: hue-rotate(300deg);
        -moz-filter: hue-rotate(300deg);
        -ms-filter: hue-rotate(300deg);
        filter: hue-rotate(300deg);
}

.filter-hue-rotate-310 {
        -webkit-filter: hue-rotate(310deg);
        -moz-filter: hue-rotate(310deg);
        -ms-filter: hue-rotate(310deg);
        filter: hue-rotate(310deg);
}

.filter-hue-rotate-320 {
        -webkit-filter: hue-rotate(320deg);
        -moz-filter: hue-rotate(320deg);
        -ms-filter: hue-rotate(320deg);
        filter: hue-rotate(320deg);
}

.filter-hue-rotate-330 {
        -webkit-filter: hue-rotate(330deg);
        -moz-filter: hue-rotate(330deg);
        -ms-filter: hue-rotate(330deg);
        filter: hue-rotate(330deg);
}

.filter-hue-rotate-340 {
        -webkit-filter: hue-rotate(340deg);
        -moz-filter: hue-rotate(340deg);
        -ms-filter: hue-rotate(340deg);
        filter: hue-rotate(340deg);
}

.filter-hue-rotate-350 {
        -webkit-filter: hue-rotate(350deg);
        -moz-filter: hue-rotate(350deg);
        -ms-filter: hue-rotate(350deg);
        filter: hue-rotate(350deg);
}

.filter-hue-rotate-360 {
        -webkit-filter: hue-rotate(360deg);
        -moz-filter: hue-rotate(360deg);
        -ms-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
}


/* 对比度 */

.filter-contrast-1 {
        -webkit-filter: contrast(0.1);
        -moz-filter: contrast(0.1);
        -ms-filter: contrast(0.1);
        filter: contrast(0.1);
}

.filter-contrast-2 {
        -webkit-filter: contrast(0.2);
        -moz-filter: contrast(0.2);
        -ms-filter: contrast(0.2);
        filter: contrast(0.2);
}

.filter-contrast-3 {
        -webkit-filter: contrast(0.3);
        -moz-filter: contrast(0.3);
        -ms-filter: contrast(0.3);
        filter: contrast(0.3);
}

.filter-contrast-4 {
        -webkit-filter: contrast(0.4);
        -moz-filter: contrast(0.4);
        -ms-filter: contrast(0.4);
        filter: contrast(0.4);
}

.filter-contrast-5 {
        -webkit-filter: contrast(0.5);
        -moz-filter: contrast(0.5);
        -ms-filter: contrast(0.5);
        filter: contrast(0.5);
}

.filter-contrast-6 {
        -webkit-filter: contrast(0.6);
        -moz-filter: contrast(0.6);
        -ms-filter: contrast(0.6);
        filter: contrast(0.6);
}

.filter-contrast-7 {
        -webkit-filter: contrast(0.7);
        -moz-filter: contrast(0.7);
        -ms-filter: contrast(0.7);
        filter: contrast(0.7);
}

.filter-contrast-8 {
        -webkit-filter: contrast(0.8);
        -moz-filter: contrast(0.8);
        -ms-filter: contrast(0.8);
        filter: contrast(0.8);
}

.filter-contrast-9 {
        -webkit-filter: contrast(0.9);
        -moz-filter: contrast(0.9);
        -ms-filter: contrast(0.9);
        filter: contrast(0.9);
}

.filter-contrast-10 {
        -webkit-filter: contrast(1.0);
        -moz-filter: contrast(1.0);
        -ms-filter: contrast(1.0);
        filter: contrast(1.0);
}

.filter-contrast-11 {
        -webkit-filter: contrast(1.1);
        -moz-filter: contrast(1.1);
        -ms-filter: contrast(1.1);
        filter: contrast(1.1);
}

.filter-contrast-12 {
        -webkit-filter: contrast(1.2);
        -moz-filter: contrast(1.2);
        -ms-filter: contrast(1.2);
        filter: contrast(1.2);
}

.filter-contrast-13 {
        -webkit-filter: contrast(1.3);
        -moz-filter: contrast(1.3);
        -ms-filter: contrast(1.3);
        filter: contrast(1.3);
}

.filter-contrast-14 {
        -webkit-filter: contrast(1.4);
        -moz-filter: contrast(1.4);
        -ms-filter: contrast(1.4);
        filter: contrast(1.4);
}

.filter-contrast-15 {
        -webkit-filter: contrast(1.5);
        -moz-filter: contrast(1.5);
        -ms-filter: contrast(1.5);
        filter: contrast(1.5);
}

.filter-contrast-16 {
        -webkit-filter: contrast(1.6);
        -moz-filter: contrast(1.6);
        -ms-filter: contrast(1.6);
        filter: contrast(1.6);
}

.filter-contrast-17 {
        -webkit-filter: contrast(1.7);
        -moz-filter: contrast(1.7);
        -ms-filter: contrast(1.7);
        filter: contrast(1.7);
}

.filter-contrast-18 {
        -webkit-filter: contrast(1.8);
        -moz-filter: contrast(1.8);
        -ms-filter: contrast(1.8);
        filter: contrast(1.8);
}

.filter-contrast-19 {
        -webkit-filter: contrast(1.9);
        -moz-filter: contrast(1.9);
        -ms-filter: contrast(1.9);
        filter: contrast(1.9);
}

.filter-contrast-20 {
        -webkit-filter: contrast(2.0);
        -moz-filter: contrast(2.0);
        -ms-filter: contrast(2.0);
        filter: contrast(2.0);
}

.filter-contrast-21 {
        -webkit-filter: contrast(2.1);
        -moz-filter: contrast(2.1);
        -ms-filter: contrast(2.1);
        filter: contrast(2.1);
}

.filter-contrast-22 {
        -webkit-filter: contrast(2.2);
        -moz-filter: contrast(2.2);
        -ms-filter: contrast(2.2);
        filter: contrast(2.2);
}

.filter-contrast-23 {
        -webkit-filter: contrast(2.3);
        -moz-filter: contrast(2.3);
        -ms-filter: contrast(2.3);
        filter: contrast(2.3);
}

.filter-contrast-24 {
        -webkit-filter: contrast(2.4);
        -moz-filter: contrast(2.4);
        -ms-filter: contrast(2.4);
        filter: contrast(2.4);
}

.filter-contrast-25 {
        -webkit-filter: contrast(2.5);
        -moz-filter: contrast(2.5);
        -ms-filter: contrast(2.5);
        filter: contrast(2.5);
}

.filter-contrast-26 {
        -webkit-filter: contrast(2.6);
        -moz-filter: contrast(2.6);
        -ms-filter: contrast(2.6);
        filter: contrast(2.6);
}

.filter-contrast-27 {
        -webkit-filter: contrast(2.7);
        -moz-filter: contrast(2.7);
        -ms-filter: contrast(2.7);
        filter: contrast(2.7);
}

.filter-contrast-28 {
        -webkit-filter: contrast(2.8);
        -moz-filter: contrast(2.8);
        -ms-filter: contrast(2.8);
        filter: contrast(2.8);
}

.filter-contrast-29 {
        -webkit-filter: contrast(2.9);
        -moz-filter: contrast(2.9);
        -ms-filter: contrast(2.9);
        filter: contrast(2.9);
}

.filter-contrast-30 {
        -webkit-filter: contrast(3.0);
        -moz-filter: contrast(3.0);
        -ms-filter: contrast(3.0);
        filter: contrast(3.0);
}

.filter-contrast-31 {
        -webkit-filter: contrast(3.1);
        -moz-filter: contrast(3.1);
        -ms-filter: contrast(3.1);
        filter: contrast(3.1);
}

.filter-contrast-32 {
        -webkit-filter: contrast(3.2);
        -moz-filter: contrast(3.2);
        -ms-filter: contrast(3.2);
        filter: contrast(3.2);
}

.filter-contrast-33 {
        -webkit-filter: contrast(3.3);
        -moz-filter: contrast(3.3);
        -ms-filter: contrast(3.3);
        filter: contrast(3.3);
}

.filter-contrast-34 {
        -webkit-filter: contrast(3.4);
        -moz-filter: contrast(3.4);
        -ms-filter: contrast(3.4);
        filter: contrast(3.4);
}

.filter-contrast-35 {
        -webkit-filter: contrast(3.5);
        -moz-filter: contrast(3.5);
        -ms-filter: contrast(3.5);
        filter: contrast(3.5);
}

.filter-contrast-36 {
        -webkit-filter: contrast(3.6);
        -moz-filter: contrast(3.6);
        -ms-filter: contrast(3.6);
        filter: contrast(3.6);
}

.filter-contrast-37 {
        -webkit-filter: contrast(3.7);
        -moz-filter: contrast(3.7);
        -ms-filter: contrast(3.7);
        filter: contrast(3.7);
}

.filter-contrast-38 {
        -webkit-filter: contrast(3.8);
        -moz-filter: contrast(3.8);
        -ms-filter: contrast(3.8);
        filter: contrast(3.8);
}

.filter-contrast-39 {
        -webkit-filter: contrast(3.9);
        -moz-filter: contrast(3.9);
        -ms-filter: contrast(3.9);
        filter: contrast(3.9);
}